$full-breakpoint: 1024px;
$mobile-breakpoint: 560px;
$small-breakpoint: 800px;

:root {
    --page-width: 1024px;
    --page-header-height: 70px;
    --nav-bar-width: 15rem;
    --page-font-family: 'Noto Sans', sans-serif;
    --transition-basic: 0.15s all ease-in-out;
    --transition-basic-half: 0.3s all ease-in-out;
    --mobile-horizontal-unpadding: -0.5rem;
}

body {
    --color-page-bg: white;
    --color-page-bg-soft: #e3f3ee;
    --color-page-text: black;
    --color-page-text-soft: #b3b3b3;
    --color-page-text-barely: #e2e2e2;
    --color-page-link: #215F6B;
    --color-page-link-hover: #22b872;
    --color-page-hover-bg: #d1e4de;
    --color-page-hairline: #e2e2e2;

    --color-header-bg: white;
    --color-header-text: black;
    --color-header-hover-bg: rgb(253, 248, 242);
    --color-header-divider: rgb(238, 238, 238);
    --color-header-hover-divider: rgb(216, 216, 216);
    --color-header-toggle-bg: #a1a1a1;
    --color-header-toggle-text: white;
    --color-header-toggle-hover-bg: #ff7843;

    --color-contrast-block-bg: #215F6B;
    --color-contrast-block-text: white;
    --color-contrast-block-hover-bg: #34848a;
    --color-contrast-block-disabled-bg: rgb(148, 148, 148);

    --color-control-bg: white;
    --color-control-text: black;
    --color-control-rim: #e2e2e2;
    --color-control-focus-rim: blue;
}

.ManagementFlavor {
    --color-page-bg: #FFFAF0;
    --color-page-bg-soft: #f5efe4;
    --color-page-text: black;
    --color-page-text-soft: #d8d2ca;
    --color-page-text-barely: #e6e0d8;
    --color-page-link: #215F6B;
    --color-page-link-hover: #22b872;
    --color-page-hover-bg: #ece4d5;
    --color-page-hairline: #e6e0d8;

    --color-header-bg: #12363D;
    --color-header-text: white;
    --color-header-hover-bg: #26565f;
    --color-header-divider: #395960;
    --color-header-hover-divider: #4d727a;
    --color-header-toggle-bg: #FF8642;
    --color-header-toggle-text: white;
    --color-header-toggle-hover-bg: #f0b638;

    --color-contrast-block-bg: #26565f;
    --color-contrast-block-text: white;
    --color-contrast-block-hover-bg: #34848a;
    --color-contrast-block-disabled-bg: #a39d8d;

    --color-control-bg: white;
    --color-control-text: black;
    --color-control-rim: #e6e0d8;
    --color-control-focus-rim: blue;
}


@mixin scrollbars($foreground-color, $background-color: var(--color-page-bg)) {

    // For Google Chrome
    &::-webkit-scrollbar {
        width: 0.8rem;
        height: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
        min-height: 50px;
        border-radius: 1rem;
        border: 3px solid $background-color;
        background-color: $foreground-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: mix($foreground-color, black, 85%);
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color;
    }

}